<div class="border-bottom border-700"></div>
      <section class="py-0 pt-7" id="contact">

        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-4 col-xl-3 mb-3">
              <h4 class="lh-lg fw-bold text-light">Quick Link</h4>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Privacy Policy</a></li>
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Terms Of Use</a></li>
               <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">FAQ</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-xl-3 mb-3">
              <h5 class="lh-lg fw-bold text-light">Support</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Gammer123@gmail.com</a></li>
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">New Delhi, India</a></li>
               <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">+91 83938398393939</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 col-xl-3 mb-3">
                <h5 class="lh-lg fw-bold text-light">Account</h5>
              <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="/userProfile">My Account</a></li>
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="/login">Login/Register</a></li>
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="/shop">Shop</a></li>
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="/cart">Cart</a></li>
                <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="/wishlist">Wishlist</a></li>
              </ul>
            </div>
            <div class="col-12 col-xl-3">
                <h5 class="lh-lg fw-bold text-light text-uppercase">Signup For our Latest News</h5>
                <div class="row input-group-icon mb-5">
                    <div class="col-12">
                        <form class="row row-cols-lg-auto g-0 align-items-center">
                            <div class="col-8 col-lg-9">
                                <label class="visually-hidden" for="colFormLabel">Username</label>
                                <div class="input-group">
                                    <input class="rounded-end-0 form-control" id="colFormLabel" type="email"
                                        placeholder="email address" />
                                </div>
                            </div>
                            <div class="col-4 col-lg-3">
                                <button class="btn btn-primary rounded-start-0" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="text-end"> <!-- Align to the right -->
                        <a href="#!"><span class="me-4" data-feather="facebook"></span></a>
                        <a href="#!"><span class="me-4" data-feather="instagram"></span></a>
                        <a href="#!"><span class="me-4" data-feather="youtube"></span></a>
                        <a href="#!"><span class="me-4" data-feather="twitter"></span></a>
                    </div>
                </div>
            </div>
            
            </div>
         
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="vendors/feather-icons/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&amp;display=swap" rel="stylesheet">
  </body>

</html>