<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Gamerr</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
  <link href="assets/css/theme.css" rel="stylesheet" />
  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
  <link rel="manifest" href="assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
</head>

<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
      data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container">
        <a class="navbar-brand d-inline-flex" href="/">
          <span class="text-light fs-2 fw-bold ms-2">Gamerr</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item px-2">
              <a class="nav-link fw-bold" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link fw-bold" href="/shop">Shop</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link fw-bold" href="/contact">Contact Us</a>
            </li>
          </ul>

         
          <!-- Icons and Sign In/Login -->
          <ul class="navbar-nav ms-auto d-flex align-items-center gap-3">
           

            <% if (user && user.name) { %>
               <!-- Order History -->
            <li class="nav-item position-relative">
              <a class="nav-link text-light" href="/orderHistory">
                <i class="fas fa-box"></i>
              </a>
            </li>
             
            <!-- Wishlist -->
            <li class="nav-item position-relative">
              <a class="nav-link text-light" href="/wishlist">
                <i class="fas fa-heart"></i>
                <% if (wishlistCount> 0) { %>
                  <span class="badge">
                    <%= wishlistCount %>
                  </span>
                  <% } else { %>
                    <!-- Display only the icon without a badge -->
                    <span class="badge"></span>
                    <% } %>
              </a>
            </li>

            <!-- Cart -->
            <li class="nav-item position-relative">
              <a class="nav-link text-light" href="/cart">
                <i class="fas fa-shopping-cart"></i>
                <% if (cartCount> 0) { %>
                  <span class="badge">
                    <%= cartCount %>
                  </span>
                  <% } else { %>
                    <!-- Display only the icon without a badge -->
                    <span class="badge"></span>
                    <% } %>
              </a>
            </li>

            <% } %>

            <!-- Sign In and Login Links -->
            <% if (user && user.name) { %>
              <div class="dropdown">
                <a href="#" class="sign-in-link">
                  <%= user.name %>
                </a>
                <div class="dropdown-content">
                  <a href="/userProfile">Profile</a>
                  <a href="/logout">Logout</a>
                </div>
              </div>
              <% } else { %>
                <li class="nav-item">
                  <a class="btn btn-outline-light btn-sm" href="./signup">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-primary btn-sm text-light" href="/login">Login</a>
                </li>
                <% } %>
          </ul>


          <!-- Phone Number -->
          <form class="d-flex">
            <div class="ms-7 text-light fw-bold">Ph: 123-456-7890</div>
          </form>
        </div>
      </div>
    </nav>