.thumbnails-container {
    display: flex;
    overflow-x: auto;
}


.thumbnail {
    margin-right: 10px;
}

.input-upload {
    position: relative;
}


.error-message {
    color: red;
    display: none;
}