


<div class="container">
  <link rel="stylesheet" href="/css/change-password-otp.css">
  <div class="login_wrap">
    <h3>Email Verification</h3>
    <form onsubmit="return validateOtpForm();">
      <div class="form-group">
        <input type="text" id="otp" name="otp" class="form-control" placeholder="Enter your OTP" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Verify OTP</button>
      </div>
    </form>
    <div class="form-group otp-timer-wrapper">
      <div class="otp-timer" id="otpTimer">OTP expires in 00:30</div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-link resend-button" onclick="resendOTP()">Resend OTP</button>
    </div>
    <% if (locals.message && message.length>0) {%>

      <div class="alert alert-danger mt-3" id="errorAlert">
        <%= message %>
      </div>
      <%} %>
        <div class="text-muted text-center pt-25">
          Already verified? <a href="/login">Login now</a>
        </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script href="/js/change-password-otp.js"></script>