<%- include("../../views/partials/user/header") %>


<section class="content-main" style="margin-top: 80px; margin-bottom: 80px;">
   <div class="card mx-auto card-login col-4">
       <div class="card-body">
           <h4 class="card-title mb-4">Email Verification</h4>
           <form method="post" action="/forgot-email-valid" onsubmit="return validateLoginForm()">
               <div class="mb-3">
                   <input class="form-control" name="email" placeholder="Email" type="text" id="email">
                   <div class="error-message" id="email-error"></div>
               </div>
               <div class="mb-4">
                   <button type="submit" class="btn btn-primary w-100">Verify</button>
               </div>
           </form>
         
           <p class="text-center mb-4">Don't have an account? <a href="/signup">Sign up</a></p>
       </div>
   </div>
</section>
<link rel="stylesheet" href="/css/forgot-password.css">
<script href="/js/forgot-password.js"></script>

<%- include("../../views/partials/user/footer") %>
